.card-game {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
}

.card-tiles {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    
}

img {
    width: 300px;
    height: auto;
    padding: 8px;
}